.up
    display: flex 
    justify-content: space-between
    flex-direction: row 
    flex-wrap: wrap
    padding: 4rem
    gap: 2rem
    .box 
        width: 15em
        border: none 
        padding: 1.5rem
        padding-bottom: 3rem
        background-color: #E2E0E0
        display: flex 
        flex-direction: column 
        justify-content: center 
        align-items: center
        gap: 2rem
        img
            padding: 1rem     
            width: 3rem 
            height: 3rem
            background-color: white
            border-radius: 100px                                                                                                                                                                          

        p:first-of-type 
            color: $water
        p:last-of-type
            font-size: 1rem
            display: flex 
            justify-content : center
            align-items: center

@media(max-width: 1430px)